<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="fontawesome/css1/all.css">
</head>

<body>
  <section id="main">
    <div class="box" id="heading">
      <h1><%=whatDay%></h1>
      <p><%=whatText%></p>
    </div>

    <div class="todolist">
      <div class="todo-list"
      <% for (var i=0; i<newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox" />
        <p> <%= newListItems[i] %> </p>
        <hr />
      <%  } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="Add on your to do list" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
    </div>
  </div>
  </section>

  <script src="js/index.js" charset="utf-8"></script>
</body>

</html>
